{literal}
<script type="text/javascript">
jQuery(function ($)
{
   
   function equalHeight(group)
   {
   tallest = 0;
   group.each(function() {
      thisHeight = $(this).height();
      if(thisHeight > tallest) {
         tallest = thisHeight;
      }
    });
    group.height(tallest);
    }

    $(window).load(function() {
       equalHeight($("#subcategories .image"));
    });

   $(document).ready(function() {
       equalHeight($("#subcategories .name"));
    });

    
});
</script>
{/literal}

<div id="subcategories">
{foreach key=row item=subcategory from=$results} 
    <div class="item">
        <div class="box roundies">
            <div class="image">{$subcategory.photo}</div>
        </div>        
        <div class="name">{$subcategory.name}</div>
    </div>
    {/foreach}
    <div class="clear"></div>
</div>
